.cast {

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 14px;
  }

  &__cast-list {
    margin-top: 40px;
  }

  &__see-more {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 22px;
    line-height: 14px;
    opacity: 0.5;
    color: $black;

    &:hover {
      color: $black;
    }
  }
}

.cast-list {
  margin-right: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    border-radius: 5px;
    width: 138px;
    overflow: hidden;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 14px;
  }
}

.actor {
  &__wrapper {
    padding: 10px;
  }

  .img-wrapper {
    width: 138px;
    height: 175px;
  }

  &__name {
    font-weight: 800;
    font-size: 16px;
  }

  &__link {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &__character {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
  }
}
