.descr {

  &__title {
    margin-top: 50px;
    font-weight: 800;
    font-size: 35px;

    &--production-year {
      font-weight: 300;
      font-size: 25px;

      margin-left: 20px;
    }
  }

  &__extra-info {
    display: flex;
    margin-top: 31px;
    font-size: 40px;
    line-height: 14px;
  }

  &__genre-list {
    margin-top: 31px;
  }

  &__original-language {
    font-weight: normal;
    font-size: 16px;
    margin-left: 20px;
  }

  &__run-time {
    font-weight: 600;
    font-size: 16px;
    color: $ratingColor;
    margin-right: 20px;
  }

  &__user-rating {

    display: flex;
    align-items: flex-end;
    color: $ratingColor;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;

    &--title {
      padding-bottom: 20px;
    }

    &--rating {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      background-color: $ratingColor;
      width: 64px;
      height: 153px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      color: $white;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;

      padding-bottom: 20px;
      margin-right: 15px;
    }
  }



  &__creators-list {
    margin-top: 31px;
  }

  &__links-list {
    margin-top: 10px;
  }

  &__keywords {
    margin-top: 10px;
  }

  &__trailer {
    margin-top: 129px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    color: $ratingColor;
    text-decoration: none;

    &:hover {
      color: $ratingColor;
    }


    &-title {
      margin-left: 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      width: 100px;
    }
  }
}

.genre-list {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  &__item {
    padding-right: 10px;
  }

  &__link {
    color: $white;
    font-size: 16px;

    &:hover {
      color: $white
    }
  }
}

.overview {
  margin-top: 57px;
  margin-left: 190px;
  color: $black;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
  }

  &__descr {
    margin-top: 27px;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 0.04em;
  }

}

.creators-list {
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;

  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__link {
    color: $white;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;

    &:hover {
      color: $white
    }
  }

  &__link-descr {
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
  }
}

.links-list {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.keywords {
  margin-top: 31px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
  }

  &__list {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    &-item {
      margin-right: 4px;
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
    }

    &-link {
      color: $white;
      padding: 8px 8px 8px 0;
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }
  }
}
