.media {
  flex-direction: column;

  &__header {}

  &__title {
    font-size: 25px;
    font-weight: 600;
  }

  &__media-list {
    margin-top: 10px;
  }

  &__items-list {
    margin-top: 20px;
  }
}

.media-list {
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: flex-end;

  &__item {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      font-size: 20px;
      font-weight: 700;
      opacity: 1;

      &:hover {
        cursor: auto;
        text-decoration: none;
      }
    }
  }

  &__item-count {
    opacity: 0.4;
  }
}

.items-list {

  &__item {}
}
