.search {
  padding-top: 100px;
  padding-bottom: 100px;

  &__search-list {}
}

.search-list {
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;



  &__item {
    display: flex;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    min-width: 173px;
    max-width: 173px;
    height: 253px;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__descr {
    margin-left: 30px;
    color: $black;
    text-decoration: none;

  }

  &__title {
    margin-top: 40px;
    font-weight: 800;
    font-size: 18px;
    line-height: 14px;

  }

  &__production-year {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
  }

  &__overview {
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }
}

.img-wrapper {}
