.footer {
  padding: 35px 15px;
  background-color: $header;
  text-align: center;

  &__copy {
    margin-top: 10px;
    color: $grey;
  }

  &__link {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: $grey;
      text-decoration: none;
    }
  }
}
