.footer {
  padding: 60px 15px;
  background-color: $header;
  text-align: center;

  &__copy {
    margin-top: 10px;
    color: $white;
  }

  &__link {
    text-decoration: none;
    color: $white;
    ;
  }
}
