.hero {
  max-height: 360px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  .container {
    padding-top: 50px;
  }

  &__wrapper {
    height: 360px;
    background-color:
      rgba(#3C5B74, 0.7);
    display: flex;
    align-items: flex-end;
  }

}

.hero__title {
  font-size: 79px;
  letter-spacing: 4px;
  font-weight: 100;
  display: flex;
  margin-bottom: 50px;

  span {
    font-weight: 700;
  }
}
