.list {
  padding-top: 40px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__tabs {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    border: 1px solid $main;
    border-radius: 25px;
    margin-left: 40px;
  }

  &__tab {
    padding: 5px 20px;
    font-size: 18px;

    cursor: pointer;

    &--active {
      background-color: $main;
      border-radius: 25px;

      color: $white;
    }

  }

  &__title {
    color: $main;
    font-size: 25px;
  }

  &__content-wrapper {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card {
  min-width: 150px;
  width: 150px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  align-items: flex-start;

  &__img {
    width: 100%;
    height: calc(150px * 1.5);
  }

  &__rating {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $main;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;

    position: absolute;
    top: calc(150px * 1.5 - 15px);
    left: 10px;
  }

  &__title {
    margin-top: 15px;
    color: $main;
  }

  &__production_year {
    color: $main;
  }
}

.wrapped {
  padding-top: 0;
  padding-bottom: 0;
  color: $white;

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .list {
    &__title {
      color: $white;
    }

    &__wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
      background-image:
        linear-gradient(90deg, rgba($main, 0.9) 0%, rgba($main, 0.8) 10%, rgba($main, 0.8) 100%),
    }
  }

  .card {
    &__title {
      color: $white;
    }

    &__production_year {
      color: $white
    }
  }
}
