.nav {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--search {
    margin-left: 20px;
    width: 100%;
    min-width: 300px;
  }
}

.language {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: column;

  // margin-left: 60px;

  &__label {
    margin: 0;
    padding: 0 3px;
    margin-right: 7px;

    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    display: none;
  }
}

.search {
  padding: 0;
  cursor: pointer;
  position: relative;
  margin-right: 35px;

  input {
    padding: 5px 0;
    padding-right: 30px;
    padding-left: 20px;
    background-color: rgba($white, 0.1);
    outline: rgba($white, 0.1);
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    width: 81%;

    cursor: text;
    color: $white;
  }

  button {
    padding: 0 44px;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    color: $white;

    border-radius: 20px;
    border: none;
    background-color: #3C5B74;

    position: absolute;
    top: 0;
    right: 45px;
  }

  &--active {
    margin-left: 140px;
    width: 80%;
    min-width: 300px;
    max-width: 775px;
    display: flex;
    justify-content: space-between;
    margin-right: 0;

    .search {
      margin-right: 20px;
    }

    box-sizing: border-box;

    transition: 1s all;

    cursor: text;
  }

}
